* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scoreboard {
  margin: 40px auto;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
.scoreboardItem {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 2px;
  vertical-align: top;
  padding: 10px;
}
.labels {
  padding-top: 5px;
}
.data {
  font-size: 2em;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 800px;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.back {
  background: chartreuse;
  backface-visibility: hidden;
}
.toggleCard {
  transform: rotateY(180deg);
}
.face {
  transform: rotateY(-180deg);
}
